extends layout
block content
    div.login#login
        h1 Sign in
            fieldset
                input#userId.form-control(type='text' placeholder='User ID' name='userId', required=true)
                br
                input#apiKey.form-control(type='password' placeholder='Password' name='apiKey' required=true)
                br
                input#apiUrl.form-control(type='url' placeholder='http://...' name='apiUrl')
                br
                button(type='button')#btn-login.btn-login Sign in
    #indiff(hidden=true)
        #about
            h1 About
            p This platform is meant to give a different interface to 
                a(href='habitica.com')
                    | habitica
            p This project involves using an 
                a(href='https://habitica.com/apidoc/')
                    | API
                |  given by Habitica itself and creating new usages.
            p In this case, batch creating tasks and showing graphs.

    div(hidden=true).logged#logged
        #welcome
        #tasks(hidden=true)
            p Here are your current tasks :

            div.tasks
                div.task_cat#habits
                    h1 HABITS
                    img(src='/images/805.gif' width='64px', height='64px')
                div.task_cat#dailies
                    h1 DAILIES
                    img(src='/images/805.gif' width='64px', height='64px')
                div.task_cat#todos
                    h1 TODOS
                    img(src='/images/805.gif' width='64px', height='64px')
            button#btn_tasks_refresh Refresh
        #batch(hidden=true)
            p Create as much tasks as you want here :
            fieldset
                textarea#text-batch.text-batch(rows='10', cols='100')
                br
                input(id="batch_task_todo", type="radio", name="taskType", value=0, checked=true)
                label(for ="batch_task_todo") Todo
                br
                input(id="batch_task_daily", type="radio", name="taskType", value=1)
                label(for ="batch_task_daily") Daily
                br
                input(id="batch_task_habit", type="radio", name="taskType", value=2)
                label(for ="batch_task_habit") Habit
                br
                button(type='button')#btn-batch.btn-batch Send batch
        #graph(hidden=true)
            p WIP
